body {
    margin: 10%;
    border-top: solid 1px black;
}
.logo {
    padding: 20px;
}
.rechnung {
    padding-left: 30px;
}

.heading {
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.headtablval {
    text-align: end;
}
#infotabDescr td{
    padding-bottom: 25px;
}
#infoTabHead th {
    padding-bottom: 10px;
}
.headadress {
    width: fit-content;
    padding-left: 40px;
    padding-top: 20px;

}
#infotabDescr {
    text-align: center;
}
table {
    border-collapse: collapse;
}
#mainTable {
    padding-top: 20px;
}
.mainDeskNr, .mainDeskMen, .mainDeskArt, .mainDeskEinz, .mainDeskRob, .ainDeskMw, .mainDeskGes{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-collapse: collapse;
}
.mainTableHead {
    vertical-align: top;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
#mainFoterRow, .botomRighttab {
    border: 1px solid black;
    border-collapse: collapse;
}
.botomrightdesk {
    border-right: none;
}
.botomrightsumm {
    border-left: none;
}
.mainDeskNr, .mainDeskEinz, .mainDeskRob, .mainDeskMw, .mainDeskGes, #foterSumm, .botomrightsumm {
    text-align: end;
}
.mainDeskMen, #foterDesk {
    text-align: center;
}
.mainDeskArt {
    text-align: start;
}
#lastTR {
    height: 120px;
}
#mainFoterRow {
    height: 35px;
    vertical-align: middle;
}
td {
    padding: 10px;
}
.widerow {
    height: 80px;
    vertical-align: top;
}
#botomleftP, #botomleftTab {
    width: 50%;
}
.botomlefttable1, .botomlefttable2, .botomlefttable3 {
border: 1px solid black;
border-collapse: collapse;
}
#moveUp, #moveUp2, #footer  {
    position: relative;
    bottom: 145px;
}
.upPart {
    border-bottom: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
}
.downPart {
    border-top: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
} 
#footer {
    display: flex;
    justify-content: space-around;
}
.col {
    width: 20%;
    padding-top: 15px;
   
   
}
