body {
    margin: 10%;
    border-top: solid 1px black;
}
.logo {
    padding: 20px;
}
.rechnung {
    padding-left: 30px;
}

.heading {
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.headtablval {
    text-align: end;
}
.headadress {
    width: fit-content;
    padding-left: 40px;
    padding-top: 20px;

}
#firstTable {
    width: 100%;
   border-collapse: collapse;
}
#firstTableHead {
    justify-content: flex-start;
    text-align: center;
    border: 1px solid black;
 
    height: 60px;
}

#firstTableSumm {
    border: none;
}
.table1 {
    border: 1px solid black;


}
.nr, .menge, .artikel, .enzel, .robat, .mwst, .gesam {
    
        border: solid black;
        border-width: 0px 1px;

}
.nr {
    border-left: 1px solid black;
}
.gesam {
    border-right: 1px solid black;
}
#firstTableSumm {
    border: solid black;
    border-width: 1px 0px;

}
#firstTableFourthRow {
    height: 240px;
}
.nr, .enzel, .robat, .mwst, .gesam {
    text-align: end;
}
.menge, .artikel {
    text-align: center;
}
#firstTableFirstRow, #firstTableSecondhRow, #firstTableThirdRow {
    height: 30px;
}
td {
    padding: 10px;
}
#infoTab {
    width: 100%;
    text-align: center;
    padding: 25px;
}
#botomRightHead1 {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-collapse: collapse;
}
#botomRightHead2 {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-collapse: collapse;
}
#botomRightHead3 {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-collapse:separate;
}
#botomRightDesk1 {
    border-left:1px solid black ;
    border-bottom: 1px solid black;
    border-collapse: collapse;
}
#botomRightDesk2 {
    border-left:1px solid black ;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
#botomRightDesk3 {
    border-right:1px solid black ;
    border-bottom:1px solid black ;
    border-collapse: separate;
}
#vers {
    border-left: 1px solid black;
    border-collapse: collapse;
}
#versSumm {
    border-right: 1px solid black;
    border-collapse: collapse;
}
#botomRightName1,  #botomRightName3 {
    border-top: 1px solid black ;
    border-bottom: 1px solid black ;
    border-left: 1px solid black ;
    border-collapse: collapse;
}
#botomRightSumm1, #botomRightSumm3 {
    border-top: 1px solid black ;
    border-bottom: 1px solid black ;
    border-right: 1px solid black ;
    border-collapse: collapse;
}
 #botomRightName2, #botomRightSumm2 {
    border-top: 1px solid black ;
    border-collapse: collapse;
}
#botomRightName2 {
    border-left:  1px solid black  ;
}
#botomRightSumm2 {
    border-right:  1px solid black  ;
}
.botomRightTable {
    border-collapse: separate;
}