body {
    margin: 10%;
    border-top: solid 1px black;
}
.logo {
    padding: 20px;
}
.rechnung {
    padding-left: 30px;
}

.heading {
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.headtablval {
    text-align: end;
}
.headadress {
    width: fit-content;
    padding-left: 40px;
    padding-top: 20px;

}
#firstTable {
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse;
}
#firstTableHead {
    justify-content: flex-start;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    height: 60px;
}

#firstTableSumm {
    border: none;
}
.table1 {
    border: 1px solid black;
    border-collapse: collapse;

}
.nr, .menge, .artikel, .enzel, .robat, .mwst, .gesam {
    
        border: solid black;
        border-width: 0px 1px;
        border-collapse: collapse;
}
#firstTableSumm {
    border: solid black;
    border-width: 1px 0px;
    border-collapse: collapse;
}
#firstTableFourthRow {
    height: 240px;
}
.nr, .enzel, .robat, .mwst, .gesam {
    text-align: end;
}
.menge, .artikel {
    text-align: center;
}
#firstTableFirstRow, #firstTableSecondhRow, #firstTableThirdRow {
    height: 30px;
}
td {
    padding: 10px;
}